.branches-table {
    text-align: center;
    font-family: "cairo";
}
.branches-table tr th {
    font-family: "Cairo";
        font-size: 20px;
        font-weight: 700;
        color: #667085;
        padding: 15px 0px;
}
.branches-table tr td {
    font-family: "Cairo";
        font-size: 20px;
        font-weight: 700;
        color: #48505E;
        padding: 15px 0px;
}
tr .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.branches-title {
    font-family: "Cairo";
        font-size: 20px;
        font-weight: 700;
        color: #000000;
}
.actions img {
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
}