.chef-info-table tr th {
    font-family: "Cairo";
        font-weight: 700;
        font-size: 20px;
        line-height: 21px;
        color:rgba(102, 112, 133, 1) ;
        padding: 10px;
}
.chef-info-table tr td {
    font-family: "Cairo";
        font-weight: 700;
        font-size: 20px;
        line-height: 21px;
        color:rgba(72, 80, 94, 1);
        padding: 10px;
}