.chef-details__table tr th {
    font-family: "Cairo";
        font-size: 20px;
        font-weight: 700;
        color: #667085;
}
.chef-details__table tr td {
    font-family: "Cairo";
        font-size: 20px;
        font-weight: 700;
        color: #48505E;
}
.chef-details__title {
    text-align: end;
    font-family: "Cairo";
        font-size: 20px;
        font-weight: 700;
}