.sales-reps-table {
    text-align: center;
}
.sales-reps-table th {
    font-family: "Cairo";
        font-size: 20px;
        font-weight: 700;
        color: #667085;
        padding: 10px 5px;
}
.sales-reps-table td {
    font-family: "Cairo";
        font-size: 20px;
        font-weight: 700;
        color: #48505E;
        padding: 10px 5px;
}
.sales-representatives-title {
    font-family: "Cairo";
        font-size: 20px;
        font-weight: 700;
        color: #000000;
        text-align: right;
}