.Managers-table-container .Managers-table-row .Managers-table-col .Managers-table {
    text-align: center;
}
.Managers-table-container .Managers-table-row .Managers-table-col .Managers-table th {
    font-family: "Cairo";
        font-size: 20px;
        font-weight: 700;
        color: #667085;
}
.Managers-table-container .Managers-table-row .Managers-table-col .Managers-table td {
    font-family: "Cairo";
        font-size: 20px;
        font-weight: 700;
        color: #48505E;
}
.Managers-table th , .Managers-table td {
    padding: 15px 0px;
}
.Managers-table .action-icon {
    cursor: pointer;
}