.main-parent {
        width: 350px;
        -o-border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 1);
        padding:22px 21px;
}
.main-parent-title {
    margin-bottom: 20px;
}
.main-parent .child-parent {
    /* width: 355px; */
}
.main-parent .child-parent .child {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 301px;
}
.main-parent .child-parent .child .child-title {
    width: 160px;
        height: 71px;
        text-align: center;
}
.main-parent .child-parent .child .child-title .child-number {
        font-weight: 600;
        font-size: 25px;
        color: rgba(77, 77, 77, 1);
        margin-bottom: 2px;
}
.main-parent .child-parent .child .child-title .child-text {
    font-family: "Cairo";
        font-weight: 400;
        font-size: 20px;
        color: rgba(101, 100, 124, 1);
}
.main-parent .child-parent .child .child-icon {
        width: 54px;
        height: 54px;
        background-color: rgba(238, 232, 250, 1);
        -o-border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(117, 69, 220, 1);
        font-size: 21px;
}